---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';

const helps = [
	{
		link: 'https://yandex.ru/maps/?text=г.Калининград,ул.Генделя,3А',
		label: 'г. Калининград, ул. Генделя, 3А',
		icon: 'map',
	},
	{ link: 'tel:89114918854', label: '8 (911) 491 88-54', icon: 'phone' },
	{ link: 'mailto:tvoypsikholog39@mail.ru', label: 'tvoypsikholog39@mail.ru', icon: 'email' },
	{ link: 'https://wa.me/89114918854', label: 'WhatsApp', icon: 'whatsapp-outline' },
];

const socials = [
	{ link: 'https://t.me/ArslanovaViktoriya', icon: 'telegram-outline' },
	{ link: 'https://www.instagram.com/svetlaya_vikki/', icon: 'instagram-outline' },
	{ link: 'https://vk.com/svetlaya_vikki', icon: 'vk-outline' },
];
---

<div class='container px-5 py-10'>
	<h2 class='text-4xl xl:text-5xl mb-5 text-center'>Контакты</h2>
	<div
		class='flex flex-col lg:flex-row items-center lg:items-end justify-between border-4 border-primary rounded-lg gap-5'>
		<div class='p-5'>
			<div class='mb-8'>
				<h3 class='text-3xl lg:text-4xl lg:whitespace-nowrap mb-5'>
					Запишитесь или задайте мне вопрос
				</h3>
				<ul class='flex flex-col gap-5'>
					{
						helps.map(help => (
							<li class='flex items-center gap-2'>
								<div class='size-10 bg-primary grid place-items-center rounded-full'>
									<Icon name={help.icon} class='size-7 text-white' />
								</div>
								<a
									href={help.link}
									target='_blank'
									class='text-xl hover:text-[#70b6ef] transition-colors'>
									{help.label}
								</a>
							</li>
						))
					}
				</ul>
			</div>

			<div class='mb-5'>
				<h3 class='text-3xl mb-5'>Дополнительные контакты</h3>
				<ul class='flex items-center gap-5'>
					{
						socials.map(social => (
							<li>
								<a
									href={social.link}
									target='_blank'
									class='size-12 hover:scale-105 transition-transform  bg-primary grid place-items-center rounded-full'>
									<Icon name={social.icon} class='size-8 text-white' />
								</a>
							</li>
						))
					}
				</ul>
			</div>
			<div class='flex items-center gap-5'>
				<a href='https://www.b17.ru/' aria-label='b17' target='_blank' class='flex-[0_0_48px]'>
					<Image src={import('@assets/b17.webp')} class='rounded-full size-12' alt='b17' />
					<a
						href='https://www.b17.ru/arslanova_viktoriya/?prt=951016'
						target='_blank'
						class='text-lg hover:text-[#70b6ef]'>
						Моя анкета на сайте психологов B17.ru
					</a>
				</a>
			</div>
		</div>
		<Image
			src={import('../assets/flowers.png')}
			class='max-w-full sm:max-w-[500px] xl:max-w-[720px] lg:-ml-48 xl:-ml-12'
			alt='flowers'
			quality={100}
		/>
	</div>
</div>
